@charset "UTF-8";

@font-face {
    font-family:'Titulos';
    src: url('fontes/rocksdeath.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: 'Titulos';
    font-size: 350%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

div {   
    display: inline-block;
    border: 1px solid black;
    width: 400px;
    height: 800px;
    margin: 70px;
    text-align: center;
    text-decoration: none;
}

div#personagens {
    background-image: url(imagens/personagens.jpg);
}

div#infectados {
    background-image: url(imagens/infectados.jpg);
    background-position: center top;
}

div#antagonistas {
    background-image: url(imagens/antagonista.jpg);
    background-position:   top center;
    
}

footer {
    background-color: brown;
    text-align: center;
}