@charset "UTF-8";

@font-face {
    font-family:'Titulos';
    src: url('/desafios/ordem-paranormal/fontes/Franchise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

        h1 {
    font-family: 'Titulos';
    font-size: 400%;
    text-align: center;
}

:root {
    --cor1:#f2f2f29f;
    --cor2:#40404067;
    --cor3:#0D0D0D;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    min-height: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
}

header> h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Titulos';
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.240) ;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.812) ;
    color: white;
}

main  h2 {
    color: var(--cor1);
    font-size: 1,3em;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: black;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

a.externo::after {
    content: '\1F517' ;
    color: gray;
}
