@charset "UTF-8";

@font-face {
    font-family:'Titulos';
    src: url('/desafios/ordem-paranormal/fontes/Franchise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1:#ffff;
    --cor2:#7F7F7F;
    --cor3:#58555A;
    --cor4:#000000;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    min-height: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
}

header> h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Titulos';
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.240) ;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.833);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.375);
}

main  h2 {
    color: var(--cor4);
    font-size: 1,3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

a.externo::after {
    content: '\1F517' ;
}
